.App {
  text-align: center;
}

html,
body,
#__next {
  height: 100%;
}

.btn-char {
  @apply w-full transition-all ease-in-out duration-300 hover:scale-105;
}

.dark .form-control {
  background-color: rgb(156 163 175);
}

.dark .form-select {
  background-color: rgb(156 163 175);
}

.dark div.css-b62m3t-container > div {
  background-color: rgb(156 163 175);
  color: rgb(31 41 55);
}

.dark .modal-content {
  background-color: rgb(107 114 128);
}

.dark .modal-content input {
  background-color: rgb(156 163 175);
}

.dark .page-link {
  background-color: rgb(156 163 175);
  color: rgb(31 41 55);
}

.dark .page-link:hover {
  color: rgb(31 41 55);
  background-color: rgb(209 213 219);
}
